.root {
    -fx-background-image: url("file:/C:/Users/hamdi/IdeaProjects/MiniProject/target/classes/images/schoolBackgroundL.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-opacity: 0.9;
}

.menu-button {
    -fx-cursor: hand;
 }


.menuItem {
     -fx-pref-width: 145px;
}
.menuItem:hover {
    -fx-cursor: hand;
}

 .alert-confirm {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.alert-confirm:hover {
    -fx-background-color: #45a049;
}


.label {
     -fx-font-size: 10px;
 }
.table-view {
    -fx-background-color:  #3498db; /* Column header background color */
    -fx-text-fill: white; /* Column header text color */
}